        <img src="/ab_simple.svg" class="ab-logo-footer" />
        </div>
        <div class="footer">
            <table class="infotable">
                <tr>
                    <th>Email</th><td><a href="mailto:ab@abo.fi">ab@abo.fi</a></td>
                </tr>
                <tr>
                    <th>Instagram</th><td><a href="https://www.instagram.com/axelbandet/">@Axelbandet</a></td>
                </tr>
                <tr>
                    <th>YouTube</th><td><a href="https://www.youtube.com/channel/UCe4nGl0X6Nznp68YsYgIhXg">AxelbandetOfficial</a></td>
                </tr>
                <tr>
                    <th>Facebook</th><td><a href="https://www.facebook.com/axelbandet/">fb.com/axelbandet</a></td>
                </tr>
            </table>
            <table class="infotable">
                <tr>
                    <th>Address</th><td>Axelbandet rf<br />Geologicum<br />Domkyrkotorget 1<br />20500 ÅBO FINLAND</td>
                </tr>
                <tr>
                    <th>FO-nr</th><td>2583222-5</td>
                </tr>
            </table>
        </div>
    </body>
</html>
