<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  {{ partial "head.html" . }}

  <body>
    <a href="{{ ref . "/" }}"><img class="logo-text" alt="Axelbandet" src="/ab_namn.svg" /></a>
    <div class="nav">
      <nav id="menu">
{{ partial "menu.html" . }}
      </nav>
      <nav id="languages">
        <ul class="menu">
          {{ range .Site.Languages }}
          {{ if eq . $.Site.Language }}
            <li><span class="menuitem current">{{ .LanguageName }}</span></li>
          {{ else }}
            {{ range $.Translations }}
            <li><a href="{{ .Permalink }}" class="menuitem">{{ .Language.LanguageName }}</a></li>
            {{ end }}
          {{ end }}
          {{ end }}
        </ul>
      </nav>
    </div>
    <div class="page-wrapper">
